################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RecoMindAuthentication/RecoMindAuthenticationAPI/StaticFiles/Images
